@import 'nib'

html
body
	margin 0 auto
	background #3B7ADB
	width 100%
	height 100%
	
header
	margin 0 auto
	width 95%
	height 10%
	border-radius 1px 2px / 3px 4px

nav
	background #C20016
	display flex
	

$color_blue = #3B7ADB
$color_red = #C20016
$color_gray = #393939
$color_yellow = #F6E518

	
.btn
	width 50px
	height 50px
	border 1px solid #efef

.btn1
	background $color_gray
	flex1
	
.btn2
	background $color_blue
	flex 3
	
.btn3
	background $color_red
	
.btn4
	background $color_yellow

main	
	width 95%
	height 80%
	background #FFFFF6
	display flex
	align-items center
	justify-content center
	margin 0 auto
	
.box
	width 50px
	height 50px
	border 1px solid #fff
			
footer
	display flex
	width 95%
	height 10%
	margin 0 auto
	background #ABE773	
	





	